# URL de conexión a la base de datos (PostgreSQL)
DATABASE_URL="postgresql://usuario_aqui:password_aqui@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# URL directa para migraciones de Prisma
DIRECT_URL="postgresql://usuario_aqui:password_aqui@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

# Puerto en el que corre Fastify
PORT=3000